<div id='demo'>
  hello <span v-bind='name'>
  </span>, your age is <span v-bind='age'></span> you city is <span v-bind='address.location.area'></span>
  <br>my name is {{name}}{{age}}age is
  <br> name: <input type="text" v-model='name'>
  <br> age:
  <input type="text" v-model='age'>
  <br> are:
  <input type="text" v-model='address.location.area'>
  <br>
  <select v-model='age'>
    <option value="1">1</option>
     <option value="2">2</option>
      <option value="3">3</option>
  </select>

  <!--<br> name pick: <input type="radio" name="name" value="leon" lk-change='name'> leon
  <input type="radio" name="name" value="wgc" v-model='name'> wgc-->
</div>

<script src="link.js">
  
</script>