<html>

<head>
  <title>link demo</title>
  <link rel="stylesheet" href="demo.css"></link>
</head>

<body>
  <div id='demo'>
    <!--hello
    </span>, your age is <span v-bind='age'></span> you city is <span v-bind='address.location.area'></span>
    <br>my name is {{name}}{{age}}age is
    <br>-->
    <label>name:</label> <span v-bind='name' ></span>
    <input type="text" class="form-control" v-model='name'>
    <label>age:</label><span v-bind='age' ></span>
    <input type="text" class="form-control" v-model='age'>
    <label>area:</label><span v-bind='address.location.area'></span>
    <input type="text" class="form-control" v-model='address.location.area'>
    <label>age select:</label><span v-bind='age' ></span>
    <select v-model='age' class="form-control">
    <option value="1">1</option>
     <option value="2">2</option>
      <option value="3">3</option>
  </select>
    <!--<br> name pick: <input type="radio" name="name" value="leon" lk-change='name'> leon
  <input type="radio" name="name" value="wgc" v-model='name'> wgc-->
  </div>

  <script src="link.js"></script>
  <script src="demo.js"></script>
</body>

</html>